{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "prettier.arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict"
}
