:root {
  // --vp-code-block-bg: #f8f8f8; /* 覆盖代码块默认背景色 */
  // --vp-c-brand: var(--blue-atoll); /* 覆盖默认文字主题颜色 */
  /**
   * 自定义颜色
   * --------------------------------------------------------------------- */

  --blue-atoll: #6abacf;
  --blue-tiffany: #a8f4f7;
  --blue-indigo-bunting: #3e66ae;
  --blue-beach-glass: #acdfc8;
  --purple-rose: #c1a3cf;
  --pink-pirouette: #ecc0e1;
  --pink-mother-day: #f1bcbc;
  --yellow-illuminating: #f4d546;
  --red-lava-falls: #871015;
  --red-period: #d40017;
  --orange-marigold: #ec8a3a;
  --orange-ochre: #e45123;
  --green-pickled-pepper: #9f9838;
  --green-tram: #125833;
  --green-afterpay: #acfce2;
  --black-ultra: #242425;
  --blue-primary: #4276fc;
}
